Language: Cpp
BasedOnStyle: LLVM
Standard: Cpp11
IndentWidth: 4
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 120
DerivePointerAlignment: true
IndentCaseLabels : false
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: Inner
PointerAlignment: Left
TabWidth: 4
UseTab: Always
